@model TraversalCoreProje.Areas.Member.Models.MemberEditVM
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header pb-0">
        <h6>Profil Düzenleme Sayfası</h6>
    </div>
    <div class="card-body">
        <div>
            <form method="post">
                @Html.Label("Adınız")
                <input type="text" asp-for="Name" class="form-control" />
                <br />
                @Html.Label("Soyadınız")
                <input type="text" asp-for="Surname" class="form-control" />
                <br />
                @Html.Label("Mail Adresiniz")
                <input type="text" asp-for="Mail" class="form-control" />
                <br />
                @Html.Label("Şifreniz")
                <input type="text" asp-for="Password" class="form-control" />
                <br />
                @Html.Label("Şifre Tekrar")
                <input type="text" asp-for="ConfirmPassword" class="form-control" />
                <br />
                @Html.Label("Telefon Numarası")
                <input type="text" asp-for="PhoneNumber" class="form-control" />
                <br />
            </form>
        </div>
    </div>
</div>